# Introduction to Python
        by Pradip Gupta (pradip.mech13@gmail.com)

# Data types in python

1. int
2. float
3. string 
4. list
5. tuple
6. boolean
7. dictionary
8. set

## 1. Int

In [ ]:
a = 10

In [ ]:
print(a)

In [ ]:
print(A) #everything is case-sensitive

In [ ]:
# Any text followed by '#' is not conisdered python code. These are called comments
# shortcut for commenting/un-commenting in Jupyter is : select the line(s) which you want to comment and then use Ctrl+/
# short cut for executing your code is shift+enter

In [ ]:
type(a)

## 2. Float

In [ ]:
z = 10.

In [ ]:
z

In [ ]:
type(z)

## 3. String
 - Different operations that can be done on strings like split, join, index, count, find, upper,lower,len,min,max.

In [ ]:
b = '2' # or b = "2" (single or double quotes do not make a difference in python)
b

Some operations are not allowed on different types:

In [ ]:
a+b

But some of them are allowed:

In [ ]:
a*b

In [ ]:
b = "hello"

In [ ]:
a*b

String variables can be combined:

In [ ]:
c = 'hyderabad'
c

In [ ]:
b+c

In order to include variable of another type in to string you have to convert it:

In [ ]:
str(a)+c

In [ ]:
len(c)

In [9]:
Finally = 2

### Variable Naming


You can pretty much chose any name as a variable name, however there are few rules that you'd need to follow


* Variable names can not have spaces in between.
* They can not contain any special character except underscore [i.e. _ ]
* Variable names can not start with a number , however you can have numbers anywhere else in the variable name


In addition to these rules there are few good practices when you are naming your variables. Google python style guide  recommends following way of naming variables based on what type of variables they are.


module_name, package_name, ClassName, method_name, ExceptionName, function_name, 
GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, 
function_parameter_name, local_var_name


*Note: Its not mandatory to use underscore with long variable names , just that it makes your variable name easily readable.*

Lets see an example below , you decide yourself which variable name is more readable.

**Reserved Words:**

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Everything is an object

In IPython you can get the list of object's methods and attributes by typing dot and pressing TAB:

In [17]:
c= "hydeRabad"

Methods are basically default functions that can be applied to our variable:

In [19]:
c.upper()

'HYDERABAD'

In [20]:
c.title()

'Hyderabad'

In [21]:
c.count('a')

2

In [25]:
c.find('d')

2

If you need help on method in IPython type something like:

In [26]:
c.find?

Or open bracket and press SHIFT+TAB:

In [ ]:
c.find(

Int variable is also an object:

In [27]:
a = 2

In [28]:
a.bit_length()

2

Methods can be combined (kind of a pipeline)

In [29]:
c.title().count('a').bit_length()

2

### Some basic numeric Operations 

for simple algebaric operations , usual symbols work. Below are some examples.

In [30]:
x=1.22
y=20
x+y

21.22

In [31]:
x-y

-18.78

In [32]:
x*y

24.4

In [33]:
x/y

0.061

In [34]:
x//y

0.0

In [35]:
x**y

53.357640115256444

you need to use double asterisks for exponents as shown below

In [36]:
x=2
y=3
x**y

8

you can do multiple operations separated by comma

In [37]:
x+2,y+3,x+y,x**(x+y)

(4, 6, 5, 32)

## Subsetting a string with indices

For extracting a part of the string, we don’t need a special function. We can simple indexing using square brackets “[]”. While using this indexing , we need to keep few things in mind

* counting starts with 0. first character gets counted as zero
* [a:b] , means starting at ath position and extracting until (b-1)th position 
* [a:] , means starting at ath position till end
* [:a], means starting at the beginning until (a-1)th position

negative sign with indices mean counting from right instead of natural left.

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.
* [a:-b], means starting at ath character at the beginning and going till bth position from end
* [-a:-b], means starting at (a+1)th character from the end and going up till bth position from end

Lets see these in action

In [45]:
z = "GOA to Leh"
print(z)

GOA to Leh

In [51]:
z[-8:5]

'A t'

In [52]:
z[3:]

' to Leh'

In [ ]:
z[:3]

In [53]:
z[:-3] #Inverse-indexing

'GOA to '

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.

In [ ]:
z[-6:-2]

Other useful functions that we will explore for string operations : count , find & split.


functions that i want you to explore on your own further are family of function for checking whether a particular piece of string belongs to a certain type or not. Here are those functions :

```
Ex: Find out what following functions do : isalnum,isalpha,isdigit,islower,isupper. Discuss this on Q&A forum , if you face any issue in figuring out what these functions do.
```

In [55]:
print(z)
len(z)

GOA to Leh

10

In [57]:
z.lower().count("o")

2

In [ ]:
z.find("a")

In [58]:
path = "path/to/dir"

In [59]:
path.split("/")

['path', 'to', 'dir']

In [63]:
path.endswith(".")

False

## 4. Lists
 - List is mutable (can be changed)
 - List uses square bracket
 - For modifying a list, we can use functions like: append, extend, insert, pop, remove and clear. 
 - Other possible functions are: sorted, sort, min, max, len.

In order to create list put coma separated values in square brackets:

In [ ]:
l = [1,2,3,4,5]
l

Values in list can be any type:

In [ ]:
l = ['one', 'two', 'three', 'four', 'five']
l

Combined

In [ ]:
l = ['one', 2, 'three', 4.0, 3+2]
l

Any type means ANY type:

In [ ]:
l = ['one', 2, 'three', [1,2,3,4,5], 3+2]
l

You can access list values by index:

In [ ]:
l[0]

Oh, yes, indexing starts with zero, so for Matlab/R users please note.

In [ ]:
l[1]

Let's have a look at the 4th element of our list:

In [ ]:
l[3]

It's also a list, and its values can be accessed by indexes as well:

In [ ]:
l[3][4]

You also can acces multiple elements of the list using slices:

In [ ]:
l[1:3]

Slice will start with the first slice index and go up to but not including the second slice index.

In [ ]:
l[3]

In [ ]:
x = [1,2,3,70,-10,0,99,"a","b","c"]

In [ ]:
x.append("new")

In [ ]:
x.append([1,2,3])

In [ ]:
x.extend([1,2,3])

In [ ]:
x.insert(2,"another")

In [ ]:
x=x+[3,4,5]

In [ ]:
x.pop()

In [ ]:
x.pop(3)

In [ ]:
x.remove("another")

In [ ]:
x = [1,5,3,66,77,22]

In [ ]:
x.sort() 
x

In [ ]:
x.reverse()
x

## 5. Boolean

In [64]:
x=True
y=False

In [65]:
type(x)

bool

In [66]:
type(y)

bool

In [67]:
x and y

False

In [68]:
not x

False

### Writing Conditions



* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

In [69]:
x=34
y=32

x==y

False

In [70]:
x>y

True

In [71]:
x="possible"
y="impossible"

x in y

True

In [72]:
x not in y

False

In [75]:
# Let's see the conditionals available
v1 = "Jennifer"
v2 = "Python"
v3 = 45
v4 = 67
v5 = 45

# Test for equality
print (v1 == v2)

# Test for greater than and greater than equal
print (v4 > v3)

# Test for lesser than and lesser than equal
print (v4 < v3)

# Inequality
print (v1 != v2)

False
True
False
True

In [77]:
# Note:
v1 = 45
v2 = "45"
print (v1 == v2) # False
print (v1 == int(v2)) # True

False
True

In [78]:
# Ignore case when comparing two strings
s1 = "Jennifer"
s2 = "jennifer"

print (s1 == s2) # False
print (s1.lower() == s2.lower()) # True
# OR
print (s1.upper() == s2.upper()) # True

False
True
True

## 6. Dictionaries
 - Dict is represented by {}
 - The dict class allows creating an associative array of keys and values. Keys must be unique immutable objects
 - Dict is not an ordered set
 - We can append or modify a dictonary

In [100]:
d= {"actor":"nasir",
    "animal":"dog",
    "earth":1,
    "list":[1,2,3]}

In [101]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list'])

In [102]:
d.values()

dict_values(['nasir', 'dog', 1, [1, 2, 3]])

In [103]:
#Change value of existing key
d["animal"] = "cat"
d

{'actor': 'nasir', 'animal': 'cat', 'earth': 1, 'list': [1, 2, 3]}

In [104]:
#Add key t dict
d["pet"] = "dog"
d

{'actor': 'nasir',
 'animal': 'cat',
 'earth': 1,
 'list': [1, 2, 3],
 'pet': 'dog'}

In [105]:
# removing a key value pair
del d['actor']
print(d)

{'animal': 'cat', 'earth': 1, 'list': [1, 2, 3], 'pet': 'dog'}

In [106]:
# element access in loop
for elem in d:
    print('value for key:%s ' %(elem) ,'is :%s' %(d[elem]))

value for key:animal  is :cat
value for key:earth  is :1
value for key:list  is :[1, 2, 3]
value for key:pet  is :dog

In [110]:
for ele in d.items():
    print(ele)
    print("Key {} Value {}".format(ele[0],ele[1]))

('animal', 'cat')
Key animal Value cat
('earth', 1)
Key earth Value 1
('list', [1, 2, 3])
Key list Value [1, 2, 3]
('pet', 'dog')
Key pet Value dog

In [111]:
print("my name is pradip")

my name is pradip

In [116]:
name = "pradip"
title = "gupta"

In [114]:
print("my name is",name)

my name is pradip

In [117]:
print("my name is {} bbb {} mmm".format(name, title))

my name is pradip bbb gupta mmm

In [108]:
len(d.items())

4

In [107]:
d.items()

dict_items([('animal', 'cat'), ('earth', 1), ('list', [1, 2, 3]), ('pet', 'dog')])

In [ ]:
for a,b in d.items():
    print('value for key:%s is %s' %(a,b))

## 7. Sets
 - Set class provides mapping of unique immutable elements

In [118]:
animals = {'cat', 'dog','cat'}

In [119]:
animals

{'cat', 'dog'}

In [120]:
animals.add("horse")

In [121]:
animals

{'cat', 'dog', 'horse'}

In [ ]:
animals.

In [122]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [123]:
c=a.union(b)
b

{4, 5, 6, 7, 8, 9}

In [124]:
a.intersection(b)

{4, 5, 6}

Difference between function symmetric_difference and difference is as follows:

* s.difference(t) :	new set with elements in s but not in t
* s.symmetric_difference(t) :  new set with elements in either s or t but not both

lets see with our own examples :

In [125]:
a.difference(b)

{1, 2, 3}

In [126]:
b.difference(a)

{7, 8, 9}

In [127]:
a.symmetric_difference(b)

{1, 2, 3, 7, 8, 9}

## 8. Tuples
 - Tuple is like a list but it is immutable (cannot be changed)
 - Tuple uses parentheses

In [128]:
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [129]:
t =( 12345, 54321, 'hello!') # same thing
t

(12345, 54321, 'hello!')

In [130]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [131]:
t[0]=21 # you can not reassign

TypeError: 'tuple' object does not support item assignment

In [132]:
len(t)

3

In [133]:
t[-1]

'hello!'

### Why did changing ‘y’ also change ‘x’?

In [140]:
x = [1,2,3]

In [141]:
y = x.copy()

In [142]:
y.append(10)

In [143]:
y

[1, 2, 3, 10]

In [144]:
x

[1, 2, 3]

1.	Variables are simply names that refer to objects. Doing y = x doesn’t create a copy of the list – it creates a new variable y that refers to the same object x refers to. This means that there is only one object (the list), and both x and y refer to it.
2.	Lists are mutable, which means that you can change their content.

In [145]:
x = 5  # ints are immutable

In [146]:
y = x

In [147]:
x = x + 1  # 5 can't be mutated, we are creating a new object here

In [148]:
y

5

In [149]:
x

6

### List Comprehensions with For Loops

In [ ]:
x=range(8)

From this we want to exract remainder for each value of x when that gets divided by 2.

operator `%` calculates remainder. a%2 will caclulate remiander when a is dvivided by 2.

In [218]:
10%3

1

In [217]:
x=range(8)

In [219]:
x_mod_2=[]
for a in x:
    x_mod_2.append(a%2)

In [220]:
x_mod_2

[0, 1, 0, 1, 0, 1, 0, 1]

In [221]:
x_mod_2=[a%2 for a in x]

In [222]:
x_mod_2

[0, 1, 0, 1, 0, 1, 0, 1]

## Control Structures

### For loop:

This loop will print all elements from the list *l*

In [154]:
l = ['one', 2, 'three', [1,2,3,4,5], 3+2]

In [165]:
for ele in l:
 ele=2*ele   
 print(ele)

oneone
4
threethree
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
10

Two interesting thins here. First: indentation, it's in the code, you must use it, otherwise code will not work:

In [ ]:
for element in l:
print(element)

In [166]:
for i,ele in enumerate(l):
    print("value at index {} is {}".format(i,ele))

value at index 0 is one
value at index 1 is 2
value at index 2 is three
value at index 3 is [1, 2, 3, 4, 5]
value at index 4 is 5

Second - you can iterate through the elements of the list. There is an option to iterate through a bunch of numbers as we used to in Matlab:

In [ ]:
for index in range(5):
    print(l[index])

where *range* is just generating a sequence of numbers:

In [169]:
start = 5
end =20
gap = 5
list(range(start,end,gap))

[5, 10, 15]

### IF-Else

#### The if-statement tells your script,
     "If this boolean expression is True, then run the code under it, otherwise skip it.”

In [174]:
marks = 80

In [175]:
if marks >=90:
    grade = "A"
elif marks < 90 and marks >=70:
    grade = "B"
elif marks >40:
    grade = "C"
else:
    grade = "Fail"

In [176]:
grade

'B'

In [ ]:
if expr1:
    #
    #
    #
    
elif expr2:
    #
    #
    #
    #
else:
    #
    #
    
a = 5
b = 4
if a > b: print ("a is greater than b");

if (a > b):
    print ("a is greater than b")
    print ("blocks are defined by indentation")
elif (a < b):
    print ("a is less than b")
else:
    print ("a is equal to b")

## Continue and Break

In [178]:
for z in range(10):
    
    if z == 5:
        break
        
    print(z)

0
1
2
3
4

## While

In [180]:
a = 10
b = 1
while a > b:
    b = b + 1
    a = a - b    
    print(a, b)

8 2
5 3
1 4

In [181]:
a = 0
while True:
    a = a +1
    if a == 5:
        break
    print(a)

1
2
3
4

In [182]:
# Filing a dictionary
d1 = {}
while 1:
    key   = input("Enter a key: ")
    value = input("Enter a value: ")
    d1[key] = value;
    if input("exit? ") == "yes": break;
print (d1)

Enter a key: k1
Enter a value: 2
exit? no
Enter a key: k2
Enter a value: 3
exit? YES
Enter a key: k3
Enter a value: 4
exit? yes
{'k1': '2', 'k2': '3', 'k3': '4'}

### Modules

Pure python does not do much. To do some specific tasks you need to import modules. Here I am going to demonstrate several ways to do so.

The most common one is to import complete library. In this example we import *urllib2* - a library for opening URLs using a variety of protocols.

In [183]:
import math

In [186]:
import numpy as np

### Writing your own functions in python
 - The keyword **def** introduces a function definition. It must be followed by the **function_name** and the **parenthesized** list of formal parameters. 
 - The statements that form the body of the function start at the next line, and must be indented.

In [203]:
def my_func(start,end,gap=1):
    '''
    function to add 3 numbers
    params:
        x: type int
        y: type int
        z: type int
    return:
        a: type int
    
    '''    
    a = list(range(start,end,gap))
    
    return a

In [204]:
help(my_func)

Help on function my_func in module __main__:

my_func(start, end, gap=1)
    function to add 3 numbers
    params:
        x: type int
        y: type int
        z: type int
    return:
        a: type int

In [205]:
result = my_func(5,20,5)
result

[5, 10, 15]

In [206]:
result = my_func(end=20,start=5)
result

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [207]:
def my_func2(x,y):
    
    if x>y:
        return y
    print(x)
    print(y)
    
    return x

In [214]:
def add(new_func, x,y):
    
    c = new_func(x,y) #5
    
    return c*x*y #5*5*3

In [215]:
def new_func(x,y):
    x = x-1 #4
    y = y-2 #1
    
    return x+y #5

In [216]:
add(new_func,5,3)

75

In [209]:
my_func2(3,5)

3
5

3

In [ ]:
# writing a function in python
def my_func(x):
    if x%2!=0:
        return(math.log(x))
    else:
        return(x)

In [ ]:
my_func(19)

In [ ]:
x

In [ ]:
x_ls3=[my_func(a) for a in x]
x_ls3

In [ ]:
def mysum(x=10,y=10):
    return(2*x+3*y)

In [ ]:
mysum(2,3)

### Writing your own Classes:
 - Class are a collection of similar kind of variables and functions. 
 - The primary difference between a class and a function is that, Class can have objects. 
 - In the definition of the class Point “object” means that this class has no inheritance

In [237]:
class Circle(object):
    def __init__(self, radius=5):
        self.r = radius
    
    def area(self):
        self.a = self.r**2*3.14
        
        return self.a
        
    def perimeter(self):
        self.p = 2*3.14*self.r
        
        return self.p
    
    def sumr(self):
        return self.a+self.p

In [239]:
c = Circle(6)

In [233]:
c.area(), c.perimeter()

(78.5, 31.400000000000002)

In [234]:
c.sumr()

109.9

In [ ]:
# we start with keyword class and then give our class a name

class Point(object):

    def __init__(self, x, y):
        '''Defines x and y variables'''
        self.X = x
        self.Y = y

        # self is used as reference to internal objects that get 
        # created using values supplied from outside 
        # default function _init_ is used to create internal objects
        # which can be accessed by other functions in the class

    def length(self):
        return(math.sqrt(self.X**2+self.Y**2))
    
    # all function inside a class will have access to internal objects 
    # created inside the class
    # you can understand self to be default Point class object
    
    def distance(self, other):
        dx = self.X - other.X
        dy = self.Y - other.Y
        return(math.sqrt(dx**2 + dy**2))
    
    # a function inside the class can take input multiple objects
    # of the same class

In [ ]:
z=Point(2,3)
y=Point(4,10)

In [ ]:
print(Point.distance(y,z))
print(Point.length(y))
print(Point.length(z))

# Exercises

In [ ]:
# Write a function to find all the even number between 1 to n. Take n as input from user.

In [ ]:
# Convert Celsius to Fahrenheit
# Formula: ((float(9)/5)*x + 32)
Celsius = [39.2, 36.5, 37.3, 37.8]

In [ ]:
for num in range(100): 
    if(num % 2 == 0):
        print (num)

In [ ]:
Fahrenheit = [((float(9)/5)*x + 32) for x in Celsius]
print (Fahrenheit)